<div class="form-container">
    <div class="alert alert-success" role="alert" #someInput style="display:none">
        Saved data Success
    </div>
    <h1>Create Customer</h1>
    <form  [formGroup]="customerForm" (ngSubmit)="onSaveForm">
        <div class="form-group">
            <label for="formGroupExampleInput">Document ID:</label>
            <input formControlName="customerId" type="text" class="form-control" placeholder="Document ID">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">FirstName:</label>
            <input formControlName="firstName" type="text" class="form-control" placeholder="Customer firstname">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">SurName:</label>
            <input formControlName="surName" type="text" class="form-control" placeholder="Customer surname">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Age:</label>
            <input formControlName="custAge" type="number" class="form-control" placeholder="Customer Age">
        </div>
        <button (click)="onSaveForm()" class="btn btn-primary btn-block" type="button">Crear</button>
    </form>

</div>

<!-- Small modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm">Small modal</button>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      ...
    </div>
  </div>
</div> -->